.container {
  display: flex;
  flex-direction: row;
  width: 1000px;
  height: 200px;
  gap: 5px;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 400px;
    background-color: lightgray;
    gap: 15px;
    padding-top: 60px;
  }

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 400px;
  background-color: lightgray;
  gap: 15px;
  padding-top: 60px;
}

.coffee1 {
  background-image: url(1);

  align-items: center;
}
.coffee2 {
  background-image: url(2);
}
.coffee3 {
  background-image: url(3);
}
.coffee4 {
  background-image: url(4);
}

.coffee:hover {
  transform: scale(1.1);
  transform: all 0.5s ease;
}

.name {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  color: black;
  justify-content: center;
  padding-top: 30px;
}

.gift {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  color: white;
  justify-content: center;
  background-color: blue;
  width: 50px;
  padding: 5px;
}
