@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
      format("woff");
    font-weight: 300;
    font-style: normal;
  }

.first{
    width: 100vw;
    height: 100vh;
    background-image: url("travel.mp4");
    background-size: contain;
}

.second{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);                                                                   
    font-size:40px;
    font-family: 'WAGURITTF';
    color: white;
    z-index: 2;
    
    gap: 30px;
}
.aaa{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);                                                                   
    font-size:80px;
    font-family: 'WAGURITTF';
    color: white;
    z-index: 2;
    
    gap: 30px;
}

.butoon1{
    position: absolute;
    top:10%;
    left:65%;
    transform: translate(0%, -50%);                                                                   
    font-size:20px;
    color: white;
    z-index: 2;
    text-align: center;
    width: 120px;
    height: 30px;
    background-color: #00000033;
    border-radius: 10px;
    gap: 20px;
}


.butoon2{
    position: absolute;
    top:65%;
    left:30%;
    transform: translate(-100%, -50%);                                                                   
    font-size:20px;
    color: white;
    z-index: 2;
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: #00000033;
    border-radius: 10px;
    gap: 20px;
}

.button3{
    position: absolute;
    top:65%;
    left:30%;
    transform: translate(0%, -50%);                                                                   
    font-size:20px;
    color: white;
    z-index: 2;
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: #00000033;
    border-radius: 10px;
    gap: 20px;
}