.container{
    display: flex;
    gap: 40px;
    padding: 20px 40px 20px 40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 1px 1px 20px 2px gray;
    width: fit-content;
}
.icons_box{
    display: flex;
    gap: 20px;
}
.green{
    color: green;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
